### **Calcul**

In [ ]:
import math

In [ ]:
#return 0 if pair, 1 if impair
245%2 # = 1
20%2 # = 0

#round closest integer
#second parameter = nbr of decimal
round(2/3) # = 1
round(2/5, 2) # = 0.4
round(2/5) # = 0

#round inferior integer
math.floor(3/2)

#round inferior integer
int(4/5) # = 0

0

### **Condition**

In [ ]:
#a = condition ? value_if_true : value_if_false
l = ["a","b","c",0]
for i in l:
  a = "int" if i == 0 else "str"
  print(a)

str
str
str
int

In [ ]:
age = 42
majorite = "Mineur" if age < 18 else "Majeur" # = "Majeur"

'Majeur'

### **List**

In [ ]:
#List changeable, allow duplicate, ordered

# dÃ©clare / init / reassign
l = []
l = [1,2,3]

# add element to the end of list
l.append(4) # = [1,2,3,4]

# insert at place "0" the value "12"
l.insert(0,12) # = [12,1,2,3,4]

# list's size
len(l) # = 5

#full list
l[:] # = [12,1,2,3,4]

#last elem to end
l[-1:] # = [4]

# list less last elem
l[:-1] # = [12,1,2,3]

l.insert(3, 50) # = [12, 1, 2, 50, 3, 4]

#biggest value of list
max(l) # = 50

#smallest value of list
min(l) # = 1

# return index of biggesr value
l.index(max(l)) # = 3

# delete index 3
del l[3] # [12, 1, 2, 50, 3, 4] => [12, 1, 2, 3, 4]

List of string

In [ ]:
# List to String
t = ['H','e','l','l','o']
res = ''.join(t) # = 'Hello'

'Hello'

### **Text manipulation**

In [ ]:
t = "Hello World ! "

# minuscule
t.lower() # = "hello world ! "

# majuscule
t.upper() # = "HELLO WORLD !  "

#return ascii value
ord('A') # = 65

65

### **Boucles**

In [ ]:
i = 0
x = 11
while (i <= 10 and i%2 == 0) or i == 11: # tant que (i est <= 10 ET pair) OU i == 11
  print(i)
  i +=2

0
2
4
6
8
10

In [ ]:
ln = [0,1,2,3,4,5,6]
ll = ["a","b","c","d","e","f","g"]

# l == lettre
# i == index
for i, l in enumerate(ll):
  print(str(i) + l)

0a
1b
2c
3d
4e
5f
6g

### **MAP**

In [2]:
#apply the same algorithm to all elements
nbr = [10, 15, 21, 33, 42, 55]
map_nbr = list(map(lambda x: x * 2 + 3, nbr)) #every value = *2+3
map_nbr # = [23, 33, 45, 69, 87, 113]

[23, 33, 45, 69, 87, 113]

### **SET**

In [7]:
# Unordered (pas d'index ni d'ordre)
# Unchangeable (pas de modification des valeurs)
# No Duplicate
# multi type
# True & 1 is the same value
fruit = {"apple", "banana", "cherry", "apple", 8, True, 1}
fruit # {'apple', 'banana', 'cherry'}

{8, True, 'apple', 'banana', 'cherry'}

### **Tuples**

In [8]:
# Ordered, Unchangeable, allow duplicate .
# Unchangeable = cannot change, add or remove items
tuple1 = ("abc", 34, True, 40, "male", 40)
tuple1

('abc', 34, True, 40, 'male', 40)

### **Dictionnaires**

In [9]:
#Ordered & Desordered
# Items have a defined order, and that order will not change
# But u cant use index !
# Changeable
# NO Duplicate

rdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(rdict["brand"])

Ford

In [10]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict) # = {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
# no duplicate, only last year pop

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
   factoriel