<a href="https://colab.research.google.com/github/Bearzzly/CodingGame/blob/main/Tips.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **NOTION**

In [ ]:
#Manage files system
import os

In [ ]:
# and / or
if (0 == 0 and 1 == 1) or 2 != -1:
  print(True)

### **Init class**

In [ ]:
# Init Class
class Point():
  def __init__(self, x,y):
    self.x = x
    self.y = y
  def __eq__(self, other):
    return (self.x, self.y) == (other.x, other.y)
x = 1
y = 1
point = Point(x, y)

In [ ]:
class A:
  def __init__(self, text):
    self.text = text

class B:
  def __init__(self):
    super().__init__("hello")

In [ ]:
#Multi Thread = True

### Raise **exception**

In [ ]:
#Raise Exception (Python) :
#Par exemple, générer une exception de type ValueError, vous pouvez écrire quelque chose comme ceci :
raise ValueError("Optionnel : Ceci est une exception de valeur incorrecte.")

### **Iterate On String**

In [ ]:
#Iterate in string
t = "helloworld !"
for i in t :
  print(i)
for i in list(t):
  print(i)

h
e
l
l
o
w
o
r
l
d

!
h
e
l
l
o
w
o
r
l
d

!

### **Calcul**

In [ ]:
import math

In [ ]:
#return 0 if pair, 1 if impair
245%2 # = 1
20%2 # = 0

#round closest integer
#second parameter = nbr of decimal
round(2/3) # = 1
round(2/5, 2) # = 0.4
round(2/5) # = 0

#round inferior integer
math.floor(3/2)

#round inferior integer
int(4/5) # = 0

0

### **Condition**

In [ ]:
#a = condition ? value_if_true : value_if_false
l = ["a","b","c",0]
for i in l:
  a = "int" if i == 0 else "str"
  print(a)

str
str
str
int

In [ ]:
age = 42
majorite = "Mineur" if age < 18 else "Majeur" # = "Majeur"

'Majeur'

### **Text manipulation**

In [ ]:
t = "Hello World ! "

# minuscule
t.lower() # = "hello world ! "

# majuscule
t.upper() # = "HELLO WORLD !  "

#return ascii value
ord('A') # = 65

65

### **Boucles**

In [ ]:
i = 0
x = 11
while (i <= 10 and i%2 == 0) or i == 11: # tant que (i est <= 10 ET pair) OU i == 11
  print(i)
  i +=2

0
2
4
6
8
10

In [ ]:
ln = [0,1,2,3,4,5,6]
ll = ["a","b","c","d","e","f","g"]

# l == lettre
# i == index
for i, l in enumerate(ll):
  print(str(i) + l)

0a
1b
2c
3d
4e
5f
6g

### **List**

In [ ]:
#List changeable, allow duplicate, ordered
#Negative index of a list in refers to accessing elements in a list by counting from the end of the list

# déclare / init / reassign
l = []
l = [1,2,3]

# add element to the end of list
l.append(4) # = [1,2,3,4]

# insert at place "0" the value "12"
l.insert(0,12) # = [12,1,2,3,4]

# list's size
len(l) # = 5

#full list
l[:] # = [12,1,2,3,4]

#last elem to end
l[-1:] # = [4]

# list less last elem
l[:-1] # = [12,1,2,3]

l.insert(3, 50) # = [12, 1, 2, 50, 3, 4]

#biggest value of list
max(l) # = 50

#smallest value of list
min(l) # = 1

# return index of biggesr value
l.index(max(l)) # = 3

# delete index 3
del l[3] # [12, 1, 2, 50, 3, 4] => [12, 1, 2, 3, 4]

List of string

In [ ]:
# List to String
t = ['H','e','l','l','o']
res = ''.join(t) # = 'Hello'

'Hello'

### **MAP**

In [ ]:
#apply the same algorithm to all elements
nbr = [10, 15, 21, 33, 42, 55]
map_nbr = list(map(lambda x: x * 2 + 3, nbr)) #every value = *2+3
map_nbr # = [23, 33, 45, 69, 87, 113]

[23, 33, 45, 69, 87, 113]

### **SET**

In [ ]:
# Unordered (pas d'index ni d'ordre)
# Unchangeable (pas de modification des valeurs)
# No Duplicate
# multi type
# True & 1 is the same value
fruit = {"apple", "banana", "cherry", "apple", 8, True, 1}
fruit # {'apple', 'banana', 'cherry'}

{8, True, 'apple', 'banana', 'cherry'}

### **Tuples**

In [ ]:
# Ordered, Unchangeable, allow duplicate .
# Unchangeable = cannot change, add or remove items
tuple1 = ("abc", 34, True, 40, "male", 40)
tuple1

('abc', 34, True, 40, 'male', 40)

### **Dictionnaires**

In [ ]:
#Ordered & Desordered
# Items have a defined order, and that order will not change
# But u cant use index !
# Changeable
# NO Duplicate

rdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(rdict["brand"])

Ford

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,
  "year": 2020
}
print(thisdict) # = {'brand': 'Ford', 'model': 'Mustang', 'year': 2020}
# no duplicate, only last year pop

{'brand': 'Ford', 'model': 'Mustang', 'year': 2020}

In [ ]:
   factoriel

### **Sorting**

In [ ]:
original_list = [3, 1, 2, 5, 4]
original_list.sort()
#original_list.sort(reverse=True)
print(original_list)  # = [1, 2, 3, 4, 5]

li = [5,2,6,12,-2,98,2,-3]
li = sorted(li)
#li = sorted(li, reverse=True)
print(li) # = [-3, -2, 2, 2, 5, 6, 12, 98]
# reverse sorted(li, reverse=True) / original_list.sort(reverse=True)

[5, 4, 3, 2, 1]
[-3, -2, 2, 2, 5, 6, 12, 98]

### **String <=> Int**

In [ ]:
# 1 String To Int
strs = ['0', '1', '2']
strs = list(map(int,strs))
print(strs[1] + strs[2])  # 1 + 2 = 3

3

In [ ]:
# 2 String To Int
strs = ['0', '1', '2']
strs = [int(x) for x in strs]
print(strs[1] + strs[2])

3

In [ ]:
# 1 Int to String
ints = [1, 2, 3]
ints = list(map(str,ints))
print(ints[1] + ints[2])  # "2" + "3" = "23"

23

In [ ]:
# 2 Int to String
ints = [1, 2, 3]
ints = [str(x) for x in ints]
print(ints[1] + ints[2])  # "2" + "3" = "23"

23

### **Heritage**

In [ ]:
class A ():
  def test(self):
    print('A')

  def __init__(self):
    self.test()

class B(A):
  def __init__(self):
    self.test()

b = B()
b.test()

A

### **Factorial**

In [ ]:
#100/100
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

### **Find_largest**

In [ ]:
#100/100
def find_largest(numbers):
  return max(numbers)

### **Average**

In [ ]:
125-150/150
def average(table):
  res=0
  if(len(table) < 1):
    return 0
  for i in table:
    res += i
  res = res/len(table)
  return res

test = []
print(average(test))

0

### **Is_Bool**

In [ ]:
100/100
def is_bool(i,j):
  if i == 1 or j == 1 or j + i == 1:
    return True
  return False

### **Is_Twin**

In [ ]:
# 105/150
def is_twin(a,b):
  bb = []
  a = a.lower()
  b = b.lower()
  if len(a) != len(b):
    return False
  for i in b:
    bb.append(i)
  for i in bb:
    if i not in a:
      return False
  return True

In [ ]:
#x/150
def is_twin(a, b):
    if(sorted(a.lower())== sorted(b.lower())):
        return True
    False

### **Is_On_Even_Position**

In [ ]:
#67/100
def is_on_even_position(table, value):
  if table.index(value)%2 == 0:
    return True
  return False

In [ ]:
# x/100
def index_pair_is_even(arr, value):
    try:
        index = arr.index(value)  # Trouve l'index de la valeur dans le tableau
        return index % 2 == 0   # Vérifie si l'index est pair
    except ValueError:
        return False  # Si la valeur n'est pas présente dans le tableau, retourne False

my_list = [10, 20, 30, 40, 50]
my_list = [10, 20, 25, 30, 40, 50]
value_to_check = 30

result = index_pair_is_even(my_list, value_to_check)
print(result)

False

### **Approximation of PI**

In [ ]:
#x/200
import random

def pi_approximation(num_points):
    inside_circle = 0

    for _ in range(num_points):
        x = random.uniform(0, 1)
        y = random.uniform(0, 1)

        # Vérifie si le point est à l'intérieur du cercle unité
        if x**2 + y**2 <= 1:
            inside_circle += 1

    # Approximation de π : aire du quart de cercle / aire du carré
    pi_estimate = (inside_circle / num_points) * 4
    return pi_estimate

# Exemple d'utilisation
num_points = 1000000  # Vous pouvez ajuster le nombre de points pour obtenir une meilleure approximation
estimated_pi = pi_approximation(num_points)
print(f"Approximation de π avec {num_points} points : {estimated_pi}")

Approximation de π avec 1000000 points : 3.142208

### **ASCII Art**

In [ ]:
# return later #x/300
# Fonction pour générer de l'ASCII art d'une lettre
def lettre_en_ascii(lettre):
    ascii_art = {
        'A': r"""
         A
        A A
       A   A
      AAAAAAA
     A       A
    A         A
   A           A
  A             A
 A               A
""",
        'B': r"""
 BBBBBBB
 B      B
 B      B
 BBBBBBB
 B      B
 B      B
 B      B
 BBBBBBB
""",
        # Ajoutez d'autres lettres selon vos besoins
    }

    lettre_upper = lettre.upper()
    if lettre_upper in ascii_art:
        return ascii_art[lettre_upper]
    else:
        return "Lettre non prise en charge"

# Fonction pour reconnaître l'ASCII art et renvoyer la lettre correspondante
def ascii_en_lettre(ascii_art):
    for lettre, art in ascii_art.items():
        if ascii_art.strip() == art.strip():
            return lettre
    return "ASCII art non reconnu"

# Exemples d'utilisation
lettre = 'A'
ascii_art = lettre_en_ascii(lettre)
print(ascii_art)

ascii_art_inconnu = """
   XXXX
  X    X
 X      X
 X      X
 X      X
  X    X
   XXXX
"""
lettre_rec = ascii_en_lettre(ascii_art_inconnu)
print(lettre_rec)

### **Reshape String**

In [ ]:
#x/300
def reshape(n, line):
    # Remove spaces from the input string
    line = line.replace(" ", "")

    # Initialize an empty result string
    res = ""

    # Iterate through the characters in the input string
    for i, char in enumerate(line):
        res += char

        # Check if we need to start a new line
        if (i + 1) % n == 0:
            res += '\n'

    # Return the formatted string without a trailing newline
    return res.rstrip('\n')

# Examples
print(reshape(3, "abc de fghij"))
print(reshape(2, "1 23 456"))

abc
def
ghi
j
12
34
56

### **Closest to zero**

In [ ]:
#139-150/150
def closest_to_zero(ints):
  res = int()
  isSet = 0
  for i in ints:
    t = int(i)
    if isset == 0 :
      res = t
      isSet = 1
    if abs(t) == abs(res):
      if t >= 0:
        res = t
    elif abs(t) < abs(res):
      res = t
  if ints == 0 or len(ints) < 1:
    return 0
  return res

### **Combination option in tournament**

In [ ]:
#250/300
def count(n):
  res = 0
  while n > 0:
    res += n-1
    n -= 1
  return res

In [ ]:
#x/300
def count(n):
    if n < 2:
        return 0
    else:
        return (n * (n - 1)) // 2